ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: 1em;
}

div {
    margin: 0;
}

form {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 10px 0 0 20px;

    label {
        margin-top: 10px;
    }
}

.manage-topnav {
    margin: 20px 0;
    .manage-search {
        width: 40%;
    }
}

.thumb {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    &:hover {
        opacity: 1;
        top: -5px;
        left: -5px;
        box-shadow: 12px 12px 13px #222;
        position: relative;
    }
    &.thumb-big {
        height: 300px;
        width: 300px;
        margin: 10px;
        opacity: 1;
        box-shadow: none;
        top: 0px;
        left: 0px;
    }
}

.thumb-label {
    display: inline-block;
    margin: 5px 0 0 25px;
    vertical-align: top;
}