@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen:300,400,700);

$bgGrey: #333;
$lightTxt: #CACACA;
$darkTxt: #868686;
$shadow: #444;

@mixin rotateit($d) {
    transform: rotate($d);
    -ms-transform: rotate(-$d); /* IE 9 */
    -webkit-transform: rotate($d); /* Safari and Chrome */
}

@mixin shadow($d) {
    -moz-box-shadow:    $d;
    -webkit-box-shadow: $d;
    box-shadow:         $d;
}

html, body {
    background-color: $bgGrey;
    font-size: 100%;
    font-family: 'Oxygen', sans-serif;
    color: $darkTxt;
    cursor: default;
    a {
        color: $lightTxt;
        &:hover {
            color: $darkTxt;
        } 
    }
}

.container {
    max-width: 860px;
    bubbs {
        background: { 
            repeat:no-repeat;
            position: center;
            size: cover;
            color: white;
        }
        margin: auto;
        position: relative;
        overflow: hidden;
        border: 13px solid black;
        border-radius: 50%;

    }

    .bubble0 {
        position: relative;
        @extend bubbs;
        @include shadow(15px 8px 4px 0px $shadow);
        padding-bottom: 50%;
        width: 75%;
        border: 15px solid black;
        margin-top: 2%;
        @media screen and (max-width: 750px) {
            width: 80%;
            border-width: 13px;
        }

    }

    .bubble1 {
        @extend bubbs;
        @include shadow(-2px 8px 2px 0px $shadow);
        width: 18%;
        padding-bottom: 8%;
        left: -23%;
        margin-top: -8%;
    }
    .bubble1.rotate {
        @include rotateit(-5deg);
    }

    .bubble2 {
        @extend bubbs;
        @include shadow(-1px 9px 2px 0px $shadow);
        left: -33%;
        margin-top: -5%;
        width: 10%;
        padding-bottom: 4%;
        border-width: 13px;
        @media screen and (max-width: 750px) {
            @include shadow(-1px 5px 2px 0px $shadow);
            border-width: 9px;
        }
    }

    #credits {
        position: relative;
        width: 100%;
        text-align: left;
        margin-top: 3%;
        font-weight: 700;
        p {
            font-size: 1em;
        }
        .siteCredits {
            font-size: 0.95em;
            margin: 0;
            color: #454545;
            a {
                color: inherit;
            }
        }
    }

}


#batspinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-animation:spin 0.75s linear infinite;
    -moz-animation:spin 0.75s linear infinite;
    animation:spin 0.75s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }