<div id="thought">
  <div id="bkg" style="background-image: url(http://roshow.net/public/images/thinkbatman/Batman-Capullo.jpg);background-size:;" class="bubble0"></div>
</div>
<div class="bubble1 rotate"></div>
<div class="bubble2"></div>
<div id="credits">
  <p>image: <span><a id="imageCredit" href="http://thegregcapullo.deviantart.com/" target="_blank">Greg Capullo</a></span></p>
  <p class="siteCredits">site by <a href="http://roshow.net" target="_blank">roshow</a></p>
  <p class="siteCredits">inspired by   <a href="http://roshow.net" target="_blank">calmingmanatee.com</a></p>
</div>