<!-- build:css({.tmp,app}) styles/managebatman.css -->
<link rel="stylesheet" href="styles/managebatman.css"/>
<!-- endbuild -->

<div id="manage-container" class="container">
    <h1>Manage Your Thoughts About Batman </h1>
        <span ng-if="!editThought">
            <div class="manage-topnav">
                <input type="text" class="form-control manage-search" ng-model="thumbSearch" placeholder="Search" />
            </div>
            <a ng-repeat="athought in thoughts | filter: thumbSearch" ng-href="#/manage/{{athought.id}}">
                <div class="thumb" back-img="athought.img"></div>
            </a>
        </span>
        <span ng-if="editThought">
            <div class="manage-topnav">
                <a href="#/manage">
                    <button type="button" class="btn btn-default" ng-click="goodbye()">Back to All Thoughts</button>
                </a>
            </div>
            <div class="thumb thumb-big" back-img="thought.img"></div>
            
            <!-- FORM START -->
            <form role="form">
              <div class="form-group">
                
                <label for="about">About the thought, including credit.</label>
                <input ng-model="thought.credit.name" type="text" class="form-control" id="about" />
                
                <label for="linkage">Url where you found this -- give props, when props are due.</label>
                <input ng-model="thought.credit.link" type="text" class="form-control" id="linkage" />
              
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model="thought.img.scale" value="cover" ng-check="!thought.img.scale || thought.img.scale === 'cover'">
                    Cover
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" ng-model="thought.img.scale" value="contain"  ng-check="thought.img.scale === 'contain'">
                    Contain
                  </label>
                </div>

              </div>
            </form>
            <!-- FORM STOP -->

        </span>
</div>