<div class="bat-container">
    <div id="thought">
      <div id="bkg"  ng-click="getRandom();" class="bubble0" id="balls" back-img="thought.img" bat-loaded="loading">
        <img id="batspinner" ng-src="{{batSpinner}}" ng-hide="loading" />
      </div>
    </div>
    <div id="credits">
      <p>image: <span><a id="imageCredit" href="{{thought.credit.link}}" target="_blank">{{thought.credit.name}}</a></span></p>
      <p class="siteCredits">site by <a href="http://roshow.net" target="_blank">roshow</a></p>
      <p class="siteCredits">inspired by   <a href="http://roshow.net" target="_blank">calmingmanatee.com</a></p>
    </div>
</div>